// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$yellow: #ffed4a;
$green: #188e4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: grey;
$black: black;
$white: white;
$dark_grey: #333;
$background_color: #eed5b1;
$orange: #fa8b1b;
$pagination_grey: #939393;

//Button Variables
%button_a {
    color: $white;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid $dark_grey;
    border-radius: 11px;
    margin: 0 1px;
    background-color: $dark_grey;
}
%button_hover {
    background-color: $orange;
    color: $white;
    text-decoration: none;
}